Repository canstralian/CodeReview, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @backend-team, @docs-team

Initial checkpoint
  .github/workflows/ci.yml
  generated-icon.png
  icons/icon.png
  icons/icon.svg
Owners: @project-maintainers

Add repository comparison feature to scan multiple repositories for overlaps and suggest merges.
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/components/Header.tsx
  client/src/lib/github.ts
  client/src/pages/RepoComparison.tsx
  client/src/types/index.ts
  server/routes.ts
Owners: @frontend-team, @backend-team

Update UI for repository comparison page and navigation
  client/src/components/EmptyStateComparison.tsx
  client/src/components/Footer.tsx
  client/src/components/Header.tsx
  client/src/components/LoadingStateScanner.tsx
  client/src/pages/RepoComparison.tsx
Owners: @frontend-team

Initial checkpoint
  package-lock.json
  package.json
Owners: @project-maintainers

Update ci.yml
  .github/workflows/ci.yml
Owners: @project-maintainers

Add authorization headers to requests made to GitHub's API
  server/routes.ts
Owners: @backend-team

Improve access to GitHub repositories by using a personal access token
  server/routes.ts
Owners: @backend-team

Indicate when no content is available to display to the user
  attached_assets/content-1747411624687.md
Owners: @project-maintainers

Saved your changes before rolling back
  package-lock.json
Owners: @project-maintainers

Improve bug reporting by including supporting images of error states
  attached_assets/content-1747411610553.md
  attached_assets/screenshot-1747411611470.png
Owners: @project-maintainers

Improve the tool's access to GitHub data by using personal access tokens
  server/routes.ts
Owners: @backend-team

Assistant checkpoint: Added HuggingFace sync workflow
  .replit
Owners: @project-maintainers

Set up the database to store and manage code review data effectively
  attached_assets/Pasted--Summary-Enhancing-your-CodeReview-GitHub-Repository-Analysis-Tool-involves-improvements-ac-1747435147338.txt
  attached_assets/Pasted--Summary-To-harden-your-FastAPI-application-you-should-enforce-secure-configuration-and-depend-1747435203151.txt
  scripts/push-schema.ts
Owners: @project-maintainers

Improve database interactions and schema management for enhanced stability
  package-lock.json
  package.json
  scripts/push-schema.ts
  server/db.ts
  server/storage.ts
Owners: @project-maintainers, @backend-team

Verify database connectivity and report table status for monitoring
  server/routes.ts
Owners: @backend-team

update
  .codesandbox/tasks.json
Owners: @project-maintainers

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-maintainers

Update README.md
  README.md
Owners: @project-maintainers

Add ability to import real code files directly from GitHub repositories
  server/routes.ts
Owners: @backend-team

Improve fetching of GitHub repository details and streamline API interactions
  server/routes.ts
  server/services/githubClient.ts
Owners: @backend-team

Add a user-friendly option to switch between light and dark website themes
  client/src/App.tsx
Owners: @frontend-team

Saved your changes before rolling back
  client/src/components/CodeViewer.tsx
Owners: @frontend-team

Saved your changes before rolling back
  .replit
Owners: @project-maintainers

Add automatic security and code quality checks when reviewing code
  package-lock.json
  package.json
  server/routes.ts
Owners: @project-maintainers, @backend-team

Use a new environment variable for authenticating with GitHub's API
  server/routes.ts
Owners: @backend-team

Improve code analysis by more accurately determining file programming language
  server/routes.ts
Owners: @backend-team

updated routes.ts
  server/routes.ts
Owners: @backend-team

Improve code analysis and data validation for enhanced system reliability
  server/routes.ts
Owners: @backend-team

Fetch actual file contents from GitHub for improved code review feature
  server/routes.ts
Owners: @backend-team

Improve communication when fetching user repositories from GitHub
  server/routes.ts
Owners: @backend-team

Improve code analysis to detect issues and enhance security checks
  attached_assets/Pasted--CodeReview-AI-A-Google-inspired-web-based-code-review-and-debugging-tool-for-GitHub-repositorie-1748090136400.txt
  server/routes.ts
  server/routes.ts.backup
  server/routes.ts.backup2
  server/routes.ts.broken
  server/routes.ts.full
Owners: @project-maintainers, @backend-team

Update database management tool to the newest stable version
  package-lock.json
  package.json
Owners: @project-maintainers

Checkpoint before assistant change: Improve project functionality by adding tools for identifying errors
  .replit
  package-lock.json
  package.json
  scripts/push-schema.ts
Owners: @project-maintainers

Assistant checkpoint: Fix critical security vulnerabilities and remove backup files
  client/index.html
  client/src/components/CodeViewer.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Enable secure login using Replit accounts and store user information
  server/db.ts
  server/replitAuth.ts
  server/storage.ts
  shared/schema.ts
Owners: @backend-team, @project-maintainers

Allow users to switch between light and dark themes for enhanced viewing
  client/src/components/Header.tsx
  client/src/components/ThemeToggle.tsx
  client/src/hooks/use-theme.tsx
Owners: @frontend-team

Improve handling of repository names to avoid potential security issues
  server/routes.ts
Owners: @backend-team

Improve the way data is stored and accessed within the application
  server/storage.ts
Owners: @backend-team

Improve display and readability of code in the review tool
  client/src/components/CodeViewer.tsx
  server/storage.ts
Owners: @frontend-team, @backend-team

Add ability to analyze GitHub repositories by simply pasting a URL
  .replit
  server/routes.ts
Owners: @project-maintainers, @backend-team

.github/CODEOWNERS:

# 👥 Global owners
*       @project-maintainers

# 📱 Frontend code owners
/client/  @frontend-team

# 🖥️ Backend code owners
/server/  @backend-team

# 📚 Documentation owners
/docs/    @docs-team
